<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href = "../css/login.css">
		<title>Login</title>
	</head>
	<body>
		
		<h1>Login</h1>
		<br><br>
		<form name = "loginform" method = "post" class = "form">
			E-mail: <input type = "email" name = "Email" placeholder = " ex: batata@cenoura.com"> 
			<br><br>
			Senha: <input type = "password" name = "Senha:">
			<br>
			<a class = "f" href = "#" align= "right">Esqueceu sua senha?</a>
			<br>
			<input type = "submit" class="btn btn-primary" id = "b" value = "Entrar">
		</form>
		<a href = "#"> 
			<img src = "../img/gplus.png"  id = "img"/>
		</a>
		<p class = "a">Ainda não possui uma conta? Crie <a href = "#" id = "here">aqui</a></p>
	</body>
</html>